#contents-list   
    border-radius: 2px;
    color: #4a4a4a;
    display: block;
    padding: 0.5em 0.75em;

    li
        list-style: none;


.contents-inner 
    display: list-item;

    .item-title
        line-height: 25.6px;
        font-size: 16px
        a
            color: color-theme
            text-decoration: none
            transition-property: all;
            transition-delay: 0s;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
            &:hover
                text-decoration: underline

.contents-bottom 
    border-bottom: 1px solid #ddd;