html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  line-height: 1.5;
  font-family: NanumGothic, -apple-system, sans-serif;
  background-color: #f7f7f7;
}

* {
  box-sizing: border-box;
}

/* @media screen and (max-width: 500px) {
  html,
  body {
    font-size: 80%;
    background-color: pink;
  }p
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

@font-face {
  font-family: 'NanumGothic';
  font-weight: 100;
  src: url('/fonts/NanumGothic.ttf') format('truetype');
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3.2rem;
  border-bottom: 0.2rem solid rgba(23, 42, 58, 0.1);
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.2rem;
}

p {
  font-size: 1.5rem;
  line-height: 2.8rem;
}

ul > li {
  margin-bottom: 0px;
  margin-left: 1.6rem;
  font-size: 1.6rem;
}

ol > li {
  line-height: 2.8rem;
  margin-left: 1.6rem;
  font-size: 1.6rem;
}

pre {
  background-color: #fbfcfd;
  padding-left: 0.5em;
  color: gray;
  font-size: 1.2rem;
}

pre > code {
  border-radius: 0.8rem;
  font-size: 1.3rem;
  word-wrap: break-word;
}

blockquote {
  line-height: 2.4rem;
  padding: 3px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
  &:hover {
    color: #61dafb;
  }
}
