html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  line-height: 1.5;
  font-family: 'Nanum Gothic', -apple-system, sans-serif;
  /* background-color: #f7f7f7; */
}

* {
  box-sizing: border-box;
}

/* @media screen and (max-width: 500px) {
  html,
  body {
    font-size: 80%;
    background-color: pink;
  }p
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* @font-face {
  font-family: 'NanumGothic';
  font-weight: 100;
  src: url('/fonts/NanumGothic.ttf') format('truetype');
} */

h1 {
  line-height: 1.7;
  font-size: 20px;
}

h2 {
  border-bottom: 0.2rem solid rgba(23, 42, 58, 0.1);
  line-height: 1.7;
  font-size: 18px;
}

h3 {
  line-height: 1.7;
  font-size: 18px;
}

h4 {
  line-height: 1.7;
  font-size: 16px;
}

h5 {
  line-height: 1.7;
  font-size: 14px;
}

p {
  font-size: 18px;
  line-height: 1.7;
}

ul > li {
  margin-bottom: 0px;
  font-size: 18px;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

ol > li {
  font-size: 18px;
  line-height: 1.7;
  margin-left: 1.6rem;
}

pre {
  background-color: #f6f8fa;
  overflow: auto;
  padding: 0.8rem 2rem 1.2rem;
}

/* pre > code {
  border-radius: 0.8rem;
  word-wrap: break-word;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Nanum Gothic', -apple-system, sans-serif;
  line-height: 2;
} */

blockquote {
  line-height: 1.5;
  padding: 3px 20px;
  margin: 0 0 20px;
  border-left: 5px solid var(--primary1);
  background-color: var(--bg-element1);
}

a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

table {
  border-spacing: 1px;
}

th {
  font-weight: bold;
  font-size: 16px;
  border-bottom: 2px solid black;
}

td {
  font-size: 16px;
  height: 36px;
  border-bottom: 1px solid black;
  width: 2%;
}
